# Ambientes Virtuais
venv/
env/
.env

# Arquivos Python
__pycache__/
*.pyc

# Notebooks e Dados
.ipynb_checkpoints/
data/
datasets/

# Modelos e Logs (Artefatos de Experimentos)
modelss/
experiments/
evaluation_final_report/
deliverables/
reports/figures/*.png

# Extensões de modelos pesados (Onde quer que estejam)
*.pth
*.ckpt
*.h5
*.keras
*.zip
*.onnx

# Arquivos de Sistema
.DS_Store
