# Ambientes Virtuais
venv/
env/
.env

# Arquivos Python
__pycache__/
*.pyc

# Notebooks e Dados
.ipynb_checkpoints/
data/

# Modelos e Logs (Artefatos de Experimentos)
models/
deliverables/
reports/figures/*.png

# Arquivos de Sistema
.DS_Store

# Arquivos de Checkpoint de Treinamento
echo "*.pth" >> .gitignore
echo "*.ckpt" >> .gitignore
echo "data/datasets/" >> .gitignore
echo "modelss/*.h5" >> .gitignore
echo "modelss/*.keras" >> .gitignore
echo "modelss/*.zip" >> .gitignore